@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-su-brown: #3A1E1D;
  --color-su-gold: #F9BD15;
  --color-su-bg: #FDFCF8;
  --font-sans: 'Prompt', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-su-bg);
  color: var(--color-su-brown);
}